.course-card {
	display: flex;
	width: 91.795vw;
	padding: 2.051vw;
	flex-direction: column;
	align-items: flex-start;
	gap: 2.103vw;
	border-radius: 1.538vw;
	background: var(--mini-background);
}

.course-card__image-wrapper {
	position: absolute;
	width: 87.692vw;
	/* height: 24.359vw; */
}

.course-card__buttons {
	display: flex;
	gap: 2.051vw;
	position: absolute;
	top: 2.051vw;
	right: 2.051vw;
}

.course-card__buttons_isCoursePage {
	position: static;
}

.course-card__image {
	width: 87.692vw;
	height: 24.359vw;
	border-radius: 1.538vw;
	background-image: url('../../../../shared/assets/course/horizontalEmptyCourseImage.webp');
	background-size: cover;
	background-repeat: no-repeat;
}

.course-card__image_isCoursePage {
	height: 87.692vw;
}

.course-card__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.course-card__telegram-stars {
	cursor: pointer;
	display: flex;
	padding: 1.282vw 2.564vw;
	justify-content: center;
	align-items: center;
	gap: 1.538vw;
	border-radius: 25.641vw;
	background: var(--stars-background);
}

.course-card__stars-img {
	width: 3.59vw;
	height: 3.846vw;
}

.course-card__stars-count {
	color: var(--stars-text);
	font-family: 'Geologica';
	font-size: 3.59vw;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.course-card__price {
	color: var(--main-text);
	font-family: 'Geologica';
	font-size: 4.615vw;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.course-card__status {
	position: absolute;
	top: 2.051vw;
	left: 2.051vw;
	display: flex;
	padding: 1.282vw 2.051vw;
	justify-content: center;
	align-items: center;
	gap: 1.282vw;
	border-radius: 1.538vw;
	background: var(--head-background);
}

.course-card__status-icon {
	width: 1.282vw;
	height: 1.282vw;
	border-radius: 100%;
}

.course-card__status-icon_status-draft {
	background-color: var(--draft);
}

.course-card__status-icon_status-maderation {
	background-color: var(--moderation);
}

.course-card__status-icon_status-ready {
	background-color: var(--ready);
}

.course-card__status-text {
	color: var(--main-text);
	font-family: 'Geologica';
	font-size: 3.077vw;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}

.course-card__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.course-card__person {
	display: flex;
	align-items: center;
	gap: 1.282vw;
}

.course-card__person-avatar {
	width: 9.231vw;
	height: 9.231vw;
	border-radius: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

.course-card__person-name {
	color: var(--main-text);
	font-family: 'Geologica';
	font-size: 3.59vw;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.course-card__button_isCoursePage {
	width: 9.231vw;
	height: 9.231vw;

	> img {
		width: 6.154vw;
		height: 6.154vw;
	}
}

.course-card__modal-placeholder {
	align-items: center;
	background: var(--background);
	border-radius: 1.538vw;
	display: flex;
	justify-content: center;
	width: 87.692vw;
	height: 24.359vw;
	flex-direction: column;
}

.course-card__modal-placeholder-img {
	width: 12.821vw;
	height: 12.821vw;
}

.course-card__modal-placeholder-text {
	width: 32.821vw;
	color: var(--active-color);
	text-align: center;
	font-family: 'Geologica';
	font-size: 3.077vw;
	font-style: normal;
	font-weight: 400;
	line-height: 110%;
}

.course-card__modal-placeholder_isCoursePage {
	width: 87.692vw;
	height: 87.692vw;
}

.course-card__modal-placeholder-img_isCoursePage {
	width: 20vw;
	height: 20vw;
}

.course-card__modal-placeholder-text_isCoursePage {
	margin-top: -1.795vw;
	font-size: 3.59vw;
	width: 38.205vw;
}
