.user-profile {
	background-color: var(--background);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 22.564vw;
}

.user-profile__header {
	align-items: center;
	background-color: var(--head-background);
	display: flex;
	flex-direction: column;
	gap: 4.103vw;
	padding: calc(
			var(--tg-content-safe-area-inset-top) + var(--tg-safe-area-inset-top)
		)
		6.923vw 5.128vw 6.923vw;
	width: 100%;
	/* height: calc(
		var(--tg-content-safe-area-inset-top) + var(--tg-safe-area-inset-top) +
			88.462vw
	); */
	margin-top: calc(
		-1 * (var(--tg-content-safe-area-inset-top) + var(--tg-safe-area-inset-top))
	);
}

.user-profile__title {
	color: var(--main-text);
	font-family: 'Geologica';
	font-size: 3.59vw;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	margin-bottom: 2.308vw;
}

.user-profile__avatar {
	width: 47.84vw;
	height: 47.84vw;
	border-radius: 100%;
	background-size: cover;
}

.user-profile__name {
	color: var(--main-text);
	font-family: 'Geologica';
	font-size: 4.615vw;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	letter-spacing: 0.092vw;
}

.user-profile__settings {
	cursor: pointer;
	border: none;
	outline: none;
	display: flex;
	width: 47.949vw;
	padding: 2.051vw 2.564vw;
	justify-content: center;
	align-items: center;
	border-radius: 1.538vw;
	background: var(--active-color);
	color: var(--active-text);
	font-family: 'Geologica';
	font-size: 3.59vw;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.user-profile__stats {
	display: flex;
	gap: 2.051vw;
	padding: 4.103vw 0 6.154vw 0;
}

.user-profile__content {
	display: flex;
	flex-direction: column;
	gap: 4.103vw;
	width: 91.282vw;
}

.user-profile__section {
	display: flex;
	flex-direction: column;
	gap: 1.282vw;
}

.user-profile__section-title {
	color: var(--second-text);
	font-family: 'Geologica';
	font-size: 3.077vw;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.user-profile__section-description {
	color: var(--main-text);
	font-family: 'Geologica';
	font-size: 3.59vw;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.user-profile__line {
	width: 100%;
	height: 1px;
	background-color: var(--profile-line);
}

.user-profile__wrapper-subjects {
	display: flex;
	gap: 2.051vw;
	flex-wrap: wrap;
}

.user-profile__subject {
	display: flex;
	padding: 1.282vw 2.051vw;
	justify-content: center;
	align-items: center;
	border-radius: 1.538vw;
	border: 1px solid var(--border-color);
	color: var(--main-text);
	font-family: 'Geologica';
	font-size: 3.59vw;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.user-profile__all-cards {
	display: flex;
	flex-direction: column;
	gap: 1.282vw;
}

.user-profile__skeleton {
	height: 47.84vw !important;
	width: 47.84vw !important;
}

.user-profile__skeleton-name {
	width: 47.949vw !important;
	height: 5.469vw !important;
}

.user-profile__empty-cards {
	display: flex;
	height: 64.615vw;
	width: 91.282vw;
	justify-content: center;
	align-items: center;
	border-radius: 1.538vw;
	background: var(--mini-background);
}

.user-profile__empty-cards-text {
	color: var(--second-text);
	text-align: center;
	width: 87.179vw;
	font-family: 'Geologica';
	font-size: 3.077vw;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.user-profile__button-publish {
	display: flex;
	width: 91.282vw;
	padding: 3.846vw 2.564vw;
	justify-content: center;
	align-items: center;
	border-radius: 1.538vw;
	background: var(--active-color);
	color: var(--active-text);
	font-family: 'Geologica';
	font-size: 3.59vw;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
